body{
    background-color: rgba(247, 11, 11, 0.514);
}
h1{
     font-size: xx-large;
    color: red;
}
h3{
    font-size: large;
    color: black;
}
h2{
    font-size: x-large;
    color: yellow;
}