body{
    background-color: rgb(179, 231, 164);
    text-align: center;
}
h1{
    font-size: xx-large;
    font-style: italic;
    color: #fac412fd;
}
h2{
    font-size: x-large;
    font-style: italic;
    color: #ffb71c;
}
h3{
    color: #1410dfe0;
}
.bolsonaro{
    width: 20%;
}
ul {
    list-style-position: inside;
    text-align: center;
}
.Jair{
    width: 25%;
}